::-webkit-scrollbar{
    width: 12px;
} 
::-webkit-scrollbar-thumb{
    /* background: linear-gradient(#FF3575, #9C8AFF); */
    background-color: #ACB992;
    border-radius: 3px;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding: 0%;
    font-family:'Montserrat', sans-serif;

    background-color: #362706;
}

/*´´´´´´´´´´´´
    NAVBAR
_____________*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 70px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li > a {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
    position: relative;
    padding: 20px 40px;
    text-decoration: none;

    color: white;
}

nav ul li .link::before{
    content: " ";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scalex(0);
    transition: transform 0.3s ease;

    background-color: #ACB992;
}

nav ul li .link:hover::before {
    transform: scaleX(1);
}

.logoPc{
    width: 260px;
    image-rendering: auto;
    padding-top: 30px;
}

/*´´´´´´´´´´´´
    NAVBAR DESPLEGABLE
_____________*/

nav .ham_header {
    display: none;
    width: 100%;
    height: 100%;
}

nav .ham_header .ham__container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
}


nav .ham_header .ham__container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
} 

.ham__iconOpen{
    width: 35px;
    margin-right: 20px;
    cursor: pointer;
}

.logoPhone{
    width: 180px;
    image-rendering: auto;
    padding-left: 30px;
    padding-top: 20px;
}

.ham__menu{
    opacity: 0.3;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 50px;
    position: fixed;
    top: -110%;
    align-items: center;
    background-color: rgb(39, 39, 39);
}

.ham__nav {
    opacity: 0;
    margin-bottom: 40px;
    margin-top: 40px;
}

.ham__navLink {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    transition: all 0.2s ease-in-out;
}

.ham__navLink:hover {
    color: gray;
    transition: all 0.2s ease-in-out;
}

.ham__iconExit {
    width: 35px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

.ham__navContainer{
    z-index: 1000;
}

/*´´´´´´´´´´´´
    HEADER
_____________*/


header{
    background-image: url(../img/buho1-obscuro.webp);
    background-size: cover;
    background-position: center left;
    height: 100vh;
}


/*´´´´´´´´´´´´
AUDIO PLAYER CARD
_____________*/
#audio-player-card{
    border-radius: 4px;
    font-size: 22px;
    text-align: center;
    padding: 40px;
    width: 560px;
    position: absolute;
    z-index: 70;
    top: 280px;
    right: 140px;

    color: white;
    background-color: #464E2E;
    box-shadow: 10px 10px 5px #ACB992;
}

h1{
    font-family:'Roboto', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
}

.audio-player__container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
#audio-visual{
    height: 70px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
}
#audio-visual .audio-wire{
    height: 50%;
    margin: 0px 3px;
    padding: 0px 1.5px;
    background-color: white;
    animation: animateUpDown .5s infinite alternate;
}

.audio-player__container p {
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
}
#audio-visual .audio-wire-1{
    animation-delay: 50ms;
}
#audio-visual .audio-wire-2{
    animation-delay: 150ms;
}
#audio-visual .audio-wire-3{
    animation-delay: 300ms;
}
#audio-visual .audio-wire-4{
    animation-delay: 450ms;
}
#audio-visual .audio-wire-5{
    animation-delay: 600ms;
}
#audio-visual .audio-wire-6{
    animation-delay: 450ms;
}
#audio-visual .audio-wire-7{
    animation-delay: 300ms;
}
#audio-visual .audio-wire-8{
    animation-delay: 150ms;
}
#audio-visual .audio-wire-9{
    animation-delay: 50ms;
}

@keyframes animateUpDown{
    to{
        height: 90%;
    }
    from{
        height: 50%;
    }
}

/*´´´´´´´´´´´´
VIDEO
_____________*/  
.video-container {
    text-align: center;
    padding: 50px 0;
  
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
  
    color: white;
}
.video__text {
    width: 75%;
    margin: 0 auto;
    padding: 0 10%;
    font-size: 22px;
}
.video__text2{
    width: 75%;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 16px;
    letter-spacing: 1px;
}
  
h2 {
    margin-top: 40px;
    font-family:'Roboto', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
}

  
 



/*´´´´´´´´´´´´
    TABLET
_____________*/
@media screen and (max-width: 830px) {

    

/*´´´´´´´´´´´´
    PHONE
_____________*/
@media screen and (max-width: 430px) {

    nav {
        width: 100%;
        height: 100%;
        padding: 0%;
    }

    nav .link{
        display: none;
    }

    .logoPc {
        display: none;
    }
    
    nav .ham_header {
        display: block;
    }
}
    
    header{
        height: 50vh;
    }


    #audio-player-card{
        z-index: 0 !important;
        position: initial !important;
        width: 100%;
        box-shadow: none;
    }
    
}
